@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fredoka:wght@300..700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Inter", sans-serif;
  --font-display: "Cormorant Garamond", serif;
  --font-accent: "Fredoka", sans-serif;
  
  --color-primary: #C5A059;
  --color-primary-light: #D4B67C;
  --color-primary-dark: #A68444;
  --color-bg: #F9F9F7;
  --color-ink: #1A1A1A;
  --color-line: #E5E5E0;
}

@layer base {
  body {
    @apply bg-bg text-ink font-sans antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-display font-medium;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-line);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-light);
}
